
.grid {
    width: 100%;
    display: grid;
    display: inline-grid;
    grid-template-columns: [line1] 25% [line2] 25% [line3] 25% [line4] 25% [end];
    grid-template-rows: [row1-start] 10% [row1-end] 80% [third-line] 10% [end];
    border: solid black 2px;
    border-radius: 10px; 
    background-color: black;
    color: white;
    height: 100%;
    font-family: monospace, monospace;
}

body{
    background-color: rgb(36, 36, 36);
}

#h2cocktail{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 0;
    grid-row-end: span 1;
    padding-left: 10px;
    color: rgb(7, 204, 7);
}

#h2beer{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 0;
    grid-row-end: span 1;
    padding-left: 10px;
    color: rgb(7, 204, 7);
}

#h2shots{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 0;
    grid-row-end: span 1;
    padding-left: 10px;
    color: rgb(7, 204, 7);
}

#h2nonAlcoholic{
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 0;
    grid-row-end: span 1;
    padding-left: 10px;
    color: rgb(7, 204, 7);
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#cocktail{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding-left: 10px;
    list-style: none;
    
}

#beer{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding-left: 10px;
    list-style: none;
}

#shots{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding-left: 10px;
    list-style: none;
}

#nonAlcoholic{
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    padding-left: 10px;
    list-style: none;
}

[data-browser="down"]::after {
    content: " ⇓";
    color: red;
}

[data-browser="up"]::after {
    content: " ⇑";
    color: rgb(7, 204, 7);
}

.red{
    color: red;
}

.green{
    color: rgb(7, 204, 7);
}

#information{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: span 1;
    color: red;
    position: relative;
    animation: move-words 10s linear infinite;
    margin: 0;
}

@keyframes move-words {
    0% {
        left: 0;
      }
      50% {
        left: 50%;
      }
      100% {
        left: 0;    
      }
  }